.headerimagen {
    position: relative;
    text-align: center;
    border: 5px black solid;
    margin-top: 75px;
    width: 100%;
  }
  .centered {
    font-family: Copperplate;
    font-size: 43px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .copperplate {
    font-family: Copperplate;
    font-size: 25px;
  }
  .headercontainer {
    margin: 0px;
    box-shadow: 15px 0px 0px 0px rgba(0,0,0,0.50);
  }